@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.colors {
    /* Cyan */
    background-color: #2acfcf;
    /* Dark Violet */
    background-color: #3b3054;
    /* Red */
    background-color: #f46262;
    /* Gray */
    background-color: #bfbfbf;
    /* Grayish Violet */
    background-color: #9e9aa7;
    /* Very Dark Blue */
    background-color: #35323e;
    /* Very Dark Violet */
    background-color: #232127;

}